.banner{
    width: 100vw;
    height: 30vh;
    background: url(../assets/img/banr-beach.png);
    background-size: cover;
    background-position: center;
}
.banner__image{
    width: 100vw;
}
.banner__textos{
    width: 80vw;
    height: 15vh;
    padding: 3rem 0 0 2rem;
}
.banner__titulo{
    font-family: var(--titulos);
    font-size: 1.5rem;
}
.banner__texto{
    position: relative;
    font-family: roboto, sans-serif;
    font-size: 1rem;
    top: .5rem;
}
.banner__button{
    font-family: var(--titulos);
    font-size: .8rem;
    position: relative;
    top: 2rem;
    background: var(--baby-green);
    height: 2.5rem;
    width: 8rem;
    border-radius: 2rem;
    border: none;

    /* &:hover{
        border: solid var(--green) .11rem;
    } */
    
}


@media screen and (min-width:768px) and (max-width:1023px) {
    .banner__textos{
        width: 100vw;
        height: 15vh;
        padding: 5rem 0 0 4rem;
    }
    .banner__titulo{
        font-size: 3rem;
    }
    .banner__texto{
        width: 70vw;
        font-size: 1.8rem;
        top: 1rem;
    }
    .banner__button{
        font-size: 1.1rem;
        top: 2.9rem;
        background: var(--baby-green);
        height: 3rem;
        width: 13rem;
        border-radius: 2rem;
      
    }
}

@media screen and (min-width: 1024px) {
    .banner{
        height: 70vh;
        background-position: bottom -7rem right 0px;
    }
    .banner__textos{
        width: 100vw;
        height: 15vh;
        padding: 5rem 0 0 4rem;
    }
    .banner__titulo{
        font-size: 4rem;
    }
    .banner__texto{
        width: 50vw;
        font-size: 2rem;
        top: 2rem;
    }
    .banner__button{
        font-size: 1.7rem;
        top: 4rem;
        background: var(--baby-green);
        height: 4rem;
        width: 20rem;
        border-radius: 4rem;
        &:hover{
            box-shadow: .5rem .5rem 18px 1px var(--baby-green);
        }
      
    }
}