body{
    background-color: #FAF4D2;
    overflow-x: hidden;
}
.not-style{
    text-decoration: none;
    font-family: var(--titulos);
}
.input-container{
    display: flex;
    flex-direction: column;
}
.input{
    font-family: roboto, sans-serif;
    /* height: 2.5rem; */
    border-radius: 2rem;
    outline: var(--green);
    padding-left: 1rem;

    &::placeholder{
        font-family: roboto, sans-serif;
        font-size: 1rem;
    }
    &:hover{
        box-shadow: .5rem .5rem 18px 1px var(--green);
    }
    &:focus{
        box-shadow: .5rem .5rem 18px 1px var(--green);
    }

}
.message--error{
    display: none;
}
/* .input-container--invalid{
    border: solid rgb(255, 38, 38) .11rem;
} */
.input-container--invalid .input{
    border: solid rgb(255, 38, 38) .2rem;
}
.input-container--invalid .message--error{
    display: initial;
    padding: .3rem 0 0 .5rem;
    color: rgb(243, 31, 31);
    font-family: roboto, sans-serif;
}
.submit{
    align-self: center;
    height: 2.5rem;
    font-family: var(--titulos);
    border: solid var(--green) 0.15rem;
    border-radius: 2rem;
    padding-left: 1rem;
    transition: 1s;

    &:hover{
        box-shadow: .5rem .5rem 18px 1px var(--green);
        transform: scale(1.05);
    }
  
}
@media screen and (min-width:768px) and (max-width:1023px) {
   .input{
    height: 5vh;
   }
    .submit{
        height: 5vh;
    }
}
@media screen and (min-width: 1024px){
    .submit{
        height: 7vh;
    }
    .input{
        height: 7vh;
    }
}