body{
    background-color: #FAF4D2;
}
.not-style{
    text-decoration: none;
    color: var(--green);
    font-family: var(--titulos);
}
.input{
    font-family: roboto, sans-serif;
    height: 2.5rem;
    border-radius: 2rem;
    outline: var(--green);
    padding-left: 1rem;

    &::placeholder{
        font-family: roboto, sans-serif;
        font-size: 1rem;
    }
}
.submit{
    align-self: center;
    height: 2.5rem;
    font-family: var(--titulos);
    border: solid var(--green) 0.15rem;
    border-radius: 2rem;
    padding-left: 1rem;
}