.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.footer__info{
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url(../assets/img/bg-contacto.png);
}
.info__navegation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.info__image{
    width: 8.1rem;
}
.info__list{
    font-family: var(--titulos);
}
.info__item{
    line-height: 1.7rem;
}

.footer__contact{
    font-family: var(--titulos);
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contact__title{
    font-size: 1.7rem;
}
.contact__container{
    display: flex;
    flex-direction: column;
}
.contact__input{
    align-self: center;
    width: 80vw;
    border: solid var(--baby-green) 0.15rem;
    background: var(--green);
}
.contact__button{
    width: 80vw;
    background: var(--baby-green);
}

.footer__credits{
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--titulos);
    width: 70vw;
    height: 7vh;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .info__image{
        width: 12rem;
    }
    .info__item{
        line-height: 2.2rem;
    }
    .footer__info{
        flex-direction: row;
        height: 40vh;
    }
    .footer__contact{
        font-family: var(--titulos);
        height: 30vh;
    }
    .contact__title{
        font-size: 2rem;
    }
    .contact__input{
        width: 55vw;
        height: 5vh;
    }
    .contact__button{
        width: 55vw;
        height: 5vh;
        font-size: 1.2rem;
    }
    .footer__contact{
        font-size: 1.5rem;
    }
}
