.products{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.products__section{
    margin-top: 5vh;
}
.section-top{
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
}
.section-bottom{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    margin-left: 2vw;
}
.products__title{
    font-family: var(--titulos);
    font-size: 2rem;
    line-height: 3rem;
}
button.products__link{
    color: var(--green);
    
    &:hover{
        text-decoration: underline;
    }
}
.products__card{
    position: relative;
    padding: .3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    width: 47vw;
    height: 65vw;
    font-family: var(--titulos);
    align-items: center;
    text-align: center;
    border: solid var(--green) .15rem;
    border-radius: 2rem;
    /* padding: 1rem .7rem; */
    background-color: var(--green);
}
.products__image-bg{
    background-color: var(--baby-green);
    border: solid var(--green) .15rem;
    border-radius: 2rem;
    width: 40vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.card__image{
    width: 25vw;
    border-radius: 2rem;
}
.card__title{
    font-size: 1.2rem;
    line-height: 2rem;
}
.card__price{
    font-size: .9rem;
    line-height: 1.1rem;
    color: #F7E053;
}
.card__link{
    text-decoration: none;
    color: black;
    background: var(--baby-green);
    font-family: var(--titulos);
    width: 8rem;
    border-radius: 2.5rem;
    margin-bottom: 0.5rem;
    transition: .5s;
    padding: .2rem;

    &:hover{
        transform: scale(1.1);
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .products__title{
        font-size: 2.5rem;
    }
    .products__link{
        color: var(--green);
        font-size: 1.3rem;
    }
    .section-bottom{
        gap: 1.5vw;
    }
    .products__card{
        width: 23vw;
        height: 41vw;
    }
    .products__image-bg{
        height: 23vw;
        width: 18vw;
        justify-content: center;
    }
    .card__image{
        width: 20vw;
    }
}

@media screen and (min-width: 1024px){
    .products{
        margin: 1rem 0 0 1.2vw;
        margin-bottom: 5vh;
    }
    .products__title{
        font-size: 2.5rem;
    }
    .products__link{
        color: var(--green);
        font-size: 1.3rem;
    }
    .section-bottom{
        margin: 0;
        gap: 1.1vw;
    }
    .products__card{
        width: calc(90vw / 8);
        height: 19rem;
        /* padding: .8rem .5rem; */

        &:hover{
            box-shadow: .5rem .5rem 18px 1px var(--green);
        }
      
    }
    .products__image-bg{
        height: 9rem;
        width: calc(78vw /8);
        justify-content: center;
    }
    .card__image{
        width: 9rem;
        max-width: calc(78vw /8);
    }
    .card__price{
        margin: .4rem 0;
    }
}