.sesion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 35vh;
    margin: 20vh 0;
}
.sesion__title{
    color: var(--green);
    font-family: var(--titulos);
    text-align: center;
    font-size: 1.7rem;
}
.sesion__input{
    /* font-family: roboto, sans-serif; */
    width: 80vw;
    height: 2.5rem;
    border: solid var(--green) .15rem;
    background: var(--baby-green);
}
.sesion__button{
    width: 80vw;
    background: var(--green);
    height: 2.5rem;
    /* outline: var(--green); */
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .sesion__title{
        font-size: 3rem;
    }
    .sesion__input{
        height: 5vh;
    }
    .sesion__button{
        height: 10vh;
    }
}

@media screen and (min-width: 1024px){
    .sesion{
        height: 60vh;
    }
    .sesion__title{
        font-size: 3rem;
    }
    .sesion__input{
        width: 50vw;
    }
    .sesion__button{
        width: 50vw;
    }
}