.sesion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 35vh;
    margin: 20vh 0;
}
.sesion__title{
    color: var(--green);
    font-family: var(--titulos);
    text-align: center;
    font-size: 1.7rem;
}
.sesion__input{
    /* font-family: roboto, sans-serif; */
    width: 80%;
    border: solid var(--green) .15rem;
    background: var(--baby-green);
}
.sesion__button{
    width: 80%;
    background: var(--green);
    /* outline: var(--green); */
}