@font-face {
    font-family: 'nooks';
    src: url(assets/fonts/Radhiumz.ttf);
}
:root{
    --green: #4EA966;
    --baby-green: #9DFFB0;
    --blue: #9FD8F6;
    --brown: #C48D3F;
    --white: #ffffed;
    
    --titulos: 'nooks', sans-serif;
}
body{
	display: flex;
	flex-direction: column;
}
main{
	display: flex;
	flex-direction: column;
	margin-top: 8vh;
}
@keyframes latido {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}