.addProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 90vh;
    margin: 10vh 0;
}
.addproduct__title{
    color: var(--green);
    font-family: var(--titulos);
    text-align: center;
    font-size: 1.7rem;
}
.addProduct__label{
    font-family: var(--titulos);
    font-size: .8rem;
    line-height: 1.5rem;
}
.addproduct__input{
    /* font-family: roboto, sans-serif; */
    width: 80vw;
    border: solid var(--green) .15rem;
    background: var(--baby-green);
}
.addProduct__textArea{
    height: 8rem;
    padding-top: .7rem;
}
.addproduct__button{
    width: 80vw;
    background: var(--green);
    /* outline: var(--green); */
}

@media screen and (min-width: 1024px){
    .addproduct__title{
        font-size: 2.7rem;
        margin-bottom: 2rem;
    }
    .addProduct__label{
        font-size: 1.22rem;
        line-height: 2rem;
    }
    .addproduct__input{
        width: 50vw;
        height: 5vh;
    }
    .addProduct__textArea{
        height: 13vh;
        padding-top: .7rem;
    }
    .addproduct__button{
        width: 50vw;
        background: var(--green);
    }
}