.admin__icons--addProduct{
    display: flex;
    gap: .8rem;
    position: absolute;
    left: 27vw;
    top: 1rem;
}
.admin__icons--addProduct>button{
    background-color: transparent;
    border:none;
    color: red;
}
.admin__icons--addProduct>a{
    color: red;
}
.admin__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .2rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background: var(--green);
    width: 35vw;
    color: black;
    text-align: center;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .admin__icons--addProduct{
        left: 12vw;
    }
}

@media screen and (min-width: 1024px){
    .admin__icons--addProduct{
        left: 2.5rem;
         top: 1rem;

    }
}
